.brand-logo {
    max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 1rem;
}

.banner-section {
    width: 100%;
    height: 780px;
    background-image: url('../../assets/img/homeBanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 780px;
    background: rgba(17, 17, 17, 0.52);
}

.container.banner-title {
    height: 780px;
}

.banner-heading {
    font-size: 3rem;
}

.banner-logo {
    height: 130px;
    margin: 15px;
}

.section-heading {
    position: relative;
    padding-bottom: 10px;
}

.divider {
    display: block;
    margin: 30px 0;
    width: 150px;
    height: 2px;
    background-color: #ffffff;
}

.info-banner .divider {
    margin: 0 auto;
}

p {
    font-size: 1.1rem;
}

.btn-book {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 1.5rem;
    height: 3rem;
    line-height: 2.25rem;
    padding: 0 1.25rem;
    width: auto;
    z-index: 20;
    background-color: #138496;
    border-color: #138496;
}

#cta {
    display: none;
}

.nav-link.font-weight-bold.text-info.btn.btn-info-outlined {
    border: 1px solid;
}

.blood-donation {
    background: rgb(255 233 234);
    border-radius: 4px;
}

.blood-donation .nav-link {
    color: rgb(157, 27, 33) !important;
    margin-right: 0 !important;
}

.fas.fa-phone {
    transform: rotate(90deg);
}

.nav-link.font-weight-bold.text-info.phno {
    font-size: 1rem;
}

.partner-hospitals .divider {
    background-color: #17a2bf;
    margin: 0 auto;
}

.col-md-3.demo-image {
    height: 140px;
}

.members-section .divider {
    margin: 0 auto;
}

.figure.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffffff;
}

.figure-img.img-fluid {
    max-height: 100px;
    margin-top: 20px;
}

.case-studies-section .divider {
    margin: 0 auto;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #17a2b8;
}

.coverage .divider {
    margin: 0 auto;
}

.counter-section.coverage.py-5.bg-info {
    background-image: url('../../assets/img/texture.png');
    background-repeat: no-repeat;
    background-position: top left;
}

.place-coverage.py-5.bg-secondary {
    background-image: url('../../assets/img/map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1.4px dashed #ffffff;
}

@media (max-width: 767px) {
    footer .container-fluid {
        text-align: center;
    }
}

.services-banner {
    min-height: 500px;
    background-image: url('../../assets/img/homeBanner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.services-banner::before {
    content: ' ';
    position: absolute;
    background-color: rgba(30, 30, 30, 0.6);
    width: 100%;
    height: 100%;
}

.services-banner .container {
    z-index: 1;
}

.services-banner p {
    font-size: 1rem;
}

.services-banner h1 {
    filter: brightness(1.5);
}

@media (max-width: 480px) {
    .banner-heading {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .tagline {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    .banner-logo {
        height: 100px;
    }
}

@media (max-width: 480px) {
    .banner-section {
        height: 650px;
    }
}

@media (max-width: 480px) {
    .banner-section .overlay {
        height: 650px;
    }
}

@media (max-width: 480px) {
    .banner-section .container {
        height: 650px;
    }
}

.tabofcontents .card-header {
    background-color: #ffffff !important;
}

.tabofcontents .card {
    border: 0;
    margin-bottom: 10px;
}

.tabofcontents .card .card-header a {
    color: #1b1b1b;
}

.tabofcontents .card .card-header a:hover {
    text-decoration: none;
}

.card.border-0.review-card img {
    height: 70px;
    margin-right: 20px;
}

.review-card hr {
    border-top: 1px solid #dbdbdb80;
}

.quickaction ul li:hover {
    background-color: #f6f6f6;
}

@media (max-width: 576px) {
    .card.border-0.review-card.mb-4 {
        text-align: center;
    }
}

.about-page .services-banner {
    background-image: url(../../assets/img/aboutBanner.jpg);
    min-height: 550px;
}

.opacity {
    opacity: .5;
}

.partner-banner {
    min-height: 500px;
    background-image: url('../../assets/img/handshake.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.partner-banner::before {
    content: ' ';
    position: absolute;
    background-color: rgba(30, 30, 30, 0.6);
    width: 100%;
    height: 100%;
}

.partner-banner .container {
    z-index: 1;
}

.partner-banner p {
    font-size: 1rem;
}

.text-unstyled,
.text-unstyled:hover {
    text-decoration: none;
}

.bordered {
    padding: 1rem;
    border: 1px solid #17a2b8;
    border-radius: .3rem;
}

.icon-flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: FlipH;
}

.ambulance-banner {
    min-height: 600px;
    background-image: url('../../assets/img/ambulanceService.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ambulance-banner::before {
    content: ' ';
    position: absolute;
    background-color: rgba(30, 30, 30, 0.8);
    width: 100%;
    height: 100%;
}

.ambulance-banner .container {
    z-index: 1;
}

.ambulance-banner p {
    font-size: 1rem;
}

.form-group {
    position: relative;
}

.location-track {
    position: absolute;
    top: 1px;
    right: 1px;
    line-height: 45px;
    width: 40px;
    text-align: center;
    color: #495057;
    background-color: #fff;
    cursor: pointer;
}