.brand-logo {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 1rem;
}

.banner-section {
  width: 100%;
  height: 780px;
  background-image: url('../../assets/img/homeBanner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 780px;
  background: rgba(17,17,17,0.52);
}

.container.banner-title {
  height: 780px;
}

.banner-heading {
  font-size: 3rem;
}

.banner-logo {
  height: 130px;
  margin: 15px;
}

.section-heading {
  position: relative;
  padding-bottom: 10px;
}

.divider {
  display: block;
  margin: 30px 0;
  width: 150px;
  height: 2px;
  background-color: #ffffff;
}

.info-banner .divider {
  margin: 0 auto;
}

p {
  font-size: 1.1rem;
}

.btn-book {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /*transform: rotate(90deg);*/
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 0;
  z-index: 20;
  background-color: #138496;
  border-color: #138496;
}

.nav-link.font-weight-bold.text-info.btn.btn-info-outlined {
  border: 1px solid;
}

.fas.fa-phone {
  transform: rotate(90deg);
}

.nav-link.font-weight-bold.text-info.phno {
  font-size: 1rem;
}

.partner-hospitals .divider {
  background-color: #17a2bf;
  margin: 0 auto;
}

.col-md-3.demo-image {
  height: 140px;
}

.members-section .divider {
  margin: 0 auto;
}

.figure.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffffff;
}

.figure-img.img-fluid {
  max-height: 100px;
  margin-top: 20px;
}

.case-studies-section .divider {
  margin: 0 auto;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #17a2b8;
}

.coverage .divider {
  margin: 0 auto;
}

.counter-section.coverage.py-5.bg-info {
  background-image: url('../../assets/img/texture.png');
  background-repeat: no-repeat;
  background-position: top left;
}

.place-coverage.py-5.bg-info {
  background-image: url('../../assets/img/map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1.4px dashed #ffffff;
}

@media (max-width: 767px) {
  footer .container-fluid {
    text-align: center;
  }
}

.services-banner {
  min-height: 500px;
  background-image: url('../../assets/img/homeBanner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.services-banner::before {
  content: ' ';
  position: absolute;
  background-color: rgba(30,30,30,0.6);
  width: 100%;
  height: 100%;
}

.services-banner .container {
  z-index: 1;
}

.services-banner p {
  font-size: 1rem;
}

@media (max-width: 480px) {
  .banner-heading {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .tagline {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .banner-logo {
    height: 100px;
  }
}

@media (max-width: 480px) {
  .banner-section {
    height: 650px;
  }
}

@media (max-width: 480px) {
  .banner-section .overlay {
    height: 650px;
  }
}

@media (max-width: 480px) {
  .banner-section .container {
    height: 650px;
  }
}

.tabofcontents .card-header {
  background-color: #ffffff !important;
}

.tabofcontents .card {
  border: 0;
  margin-bottom: 10px;
}

.tabofcontents .card .card-header a {
  color: #1b1b1b;
}

.tabofcontents .card .card-header a:hover {
  text-decoration: none;
}

.card.border-0.review-card img {
  height: 70px;
  margin-right: 20px;
}

.review-card hr {
  border-top: 1px solid #dbdbdb80;
}

.quickaction ul li:hover {
  background-color: #f6f6f6;
}

@media (max-width: 576px) {
  .card.border-0.review-card.mb-4 {
    text-align: center;
  }
}

